In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
basic_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [83]:
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1910
1  tt0000002            5.8       256
2  tt0000003            6.5      1713
3  tt0000004            5.6       169
4  tt0000005            6.2      2527

In [63]:
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [94]:
akas.replace({'\\N':np.nan}, inplace=True)
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,NaN,imdbDisplay,NaN,0
1,tt0000001,2,Carmencita,DE,NaN,NaN,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0
3,tt0000001,4,Καρμενσίτα,GR,NaN,imdbDisplay,NaN,0
4,tt0000001,5,Карменсита,RU,NaN,imdbDisplay,NaN,0
...,...,...,...,...,...,...,...,...
33164591,tt9916852,5,Episódio #3.20,PT,pt,NaN,NaN,0
33164592,tt9916852,6,Episodio #3.20,IT,it,NaN,NaN,0
33164593,tt9916852,7,एपिसोड #3.20,IN,hi,NaN,NaN,0
33164594,tt9916856,1,The Wind,DE,NaN,imdbDisplay,NaN,0
33164595,tt9916856,2,The Wind,NaN,NaN,original,NaN,1

In [64]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [38]:
basics_main = pd.read_csv(basic_url, sep='\t', low_memory=False)

In [71]:
basics = basics_main.copy()
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [72]:
basics.replace({'\\N':np.nan}, inplace=True)

In [73]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9221340 entries, 0 to 9221339
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 633.2+ MB

In [74]:
#drop missing start year
#drop runtimeMinsutes null
#drop missing genre
basics.dropna(subset=['runtimeMinutes', 'genres', 'startYear'], inplace=True)

In [75]:
basics['startYear'] = basics['startYear'].astype(int)
basics = basics[basics['startYear'] >=2000]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,133,Documentary
33792,tt0034413,short,Youth Gets a Break,Youth Gets a Break,0,2001,NaN,20,Short
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
39534,tt0040241,short,Color Rhapsodie,Color Rhapsodie,0,2021,NaN,6,Short
43538,tt0044326,short,Abstronic,Abstronic,0,2021,NaN,6,Short

In [76]:
#keep only movie type
basics = basics[basics['titleType'] == 'movie']

In [77]:
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           216159
runtimeMinutes         0
genres                 0
dtype: int64

In [79]:
#drop documentary genres
is_doc = basics['genres'].str.contains('documentary', case=False)
basics = basics[~is_doc]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61093,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67639,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77933,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86770,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [80]:
basics.shape

(143185, 9)

In [81]:
#filter df based on another df to keep only us movies
keepers = basics['tconst'].isin(akas['titleId'])
basics = basics[keepers]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61093,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67639,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77933,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86770,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [82]:
basics.shape

(142527, 9)

In [84]:
#makig new folder with os
import os
os.makedirs('Data/', exist_ok=True)
#confirm folder is created
os.listdir('Data/')

[]

In [96]:
#save current dataframe to file
#basics.to_csv('Data/title_basics.csv.gz', compression='gzip', index=False)
akas.to_csv('Data/title_akas.csv.gz', compression='gzip', index=False)
#ratings.to_csv('Data/ratings.csv.gz', compression='gzip', index=False)

In [87]:
#open saved file and preview again
basics = pd.read_csv('Data/title_basics.csv.gz', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [90]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142527 entries, 0 to 142526
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          142527 non-null  object
 1   titleType       142527 non-null  object
 2   primaryTitle    142527 non-null  object
 3   originalTitle   142527 non-null  object
 4   isAdult         142527 non-null  int64
 5   startYear       142527 non-null  int64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  142527 non-null  int64
 8   genres          142527 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 9.8+ MB

In [97]:
akas = pd.read_csv('Data/title_akas.csv.gz', low_memory=False)
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33164596 entries, 0 to 33164595
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 2.0+ GB

In [98]:
ratings = pd.read_csv('Data/ratings.csv.gz', low_memory=False)
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260427 entries, 0 to 1260426
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1260427 non-null  object
 1   averageRating  1260427 non-null  float64
 2   numVotes       1260427 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.8+ MB